In [310]:
import pandas as pd
import numpy as np

In [311]:
data1Path = 'data\exp1Data.csv'
data2Path = 'data\exp2Data.csv'
data3Path = 'data\exp3Data.csv'
data5Path = 'data\exp5Data.csv'
facesDataInsert = 'data\O&T300FacesTraitPCs.csv'

In [312]:
dataFaces = pd.read_csv(facesDataInsert)
data1 = pd.read_csv(data1Path)
data2 = pd.read_csv(data2Path)
data3 = pd.read_csv(data3Path)
data5 = pd.read_csv(data5Path)

In [313]:
data = pd.concat([data1, data2, data3, data5])
data.head()

,Subject,Block,Trial,Stimulus,Group,RT,Acc,Location,Eye,Response,Condition,Level
0,1,1,1,f42887_e_021,1,1.389223,1,10,2,4,NaN,NaN
1,1,1,2,f42887_e_203,1,1.084468,1,9,2,3,NaN,NaN
2,1,1,3,f42887_e_111,1,1.245008,1,9,2,3,NaN,NaN
3,1,1,4,f42887_e_176,1,1.075123,1,10,1,4,NaN,NaN
4,1,1,5,f42887_e_216,1,1.265365,1,9,1,3,NaN,NaN

In [314]:
combine1 = pd.merge(data, dataFaces)
combine1.head()
combine1.columns

Index(['Subject', 'Block', 'Trial', 'Stimulus', 'Group', 'RT', 'Acc',
       'Location', 'Eye', 'Response', 'Condition', 'Level', 'Valence',
       'Power'],
      dtype='object')

In [315]:
df1 = combine1[['Eye', 'Acc', 'RT', 'Location', 'Valence', 'Power']]
df2 = combine1.Stimulus.str.get_dummies()
labels = combine1['Location']
df = pd.concat([df1,df2], axis=1)

df.count()

Eye             61800
Acc             61800
RT              61800
Location        61800
Valence         61800
                ...
f42887_e_295    61800
f42887_e_296    61800
f42887_e_297    61800
f42887_e_298    61800
f42887_e_299    61800
Length: 306, dtype: int64

In [316]:
def changeEye(eye):
    if eye == 2:
        return 1
    elif eye == 1:
        return 0
df['Eye'] = df['Eye'].apply(changeEye)

def changeLocation(loc):
    if loc == 9:
        return 1
    elif loc == 10:
        return 0
df['Location'] = df['Location'].apply(changeLocation)

df.head()

,Eye,Acc,RT,Location,Valence,Power,f42887_e_000,f42887_e_001,f42887_e_002,f42887_e_003,...,f42887_e_290,f42887_e_291,f42887_e_292,f42887_e_293,f42887_e_294,f42887_e_295,f42887_e_296,f42887_e_297,f42887_e_298,f42887_e_299
0,1,1,1.389223,0,-0.0065,0.04075,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1.372089,1,-0.0065,0.04075,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,2.402000,0,-0.0065,0.04075,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1.162304,1,-0.0065,0.04075,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1.430640,1,-0.0065,0.04075,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [317]:
from sklearn.utils import shuffle
shuffle(df, labels)

train_data, train_labels = df.iloc[:40000], labels[:40000]
val_data, val_labels = df.iloc[40000:50000], labels[40000:50000]
test_data, test_labels = df.iloc[50000:], labels[50000:]

In [318]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(train_data, train_labels)

pred = rf.predict(val_data)
np.sum(np.where(pred == val_labels, 1, 0))

10000